p
{
  font-family: 'Slabo 27px', serif;
}
h1
{
  font-family: 'Open Sans', sans-serif;
}
#wrapper
{
  text-align:center;
  margin:auto;
  width:700px;
  height:500px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  vertical-align: middle;
}
